<html>
<head>
	<title>le blog d'Héloïse</title>
</head>
<body>
	<h1>Bien le bonjour</h1>
	<br>
	<h2>Quel plaisir !</h2>
	<h3>Quel énorme et grand plaisir</h3>
	<h4>plaisir</h4>
	<h5>plaisir</h5>
	<h4>plaisir</h4>
	<h5>plaisir</h5>
	<h6>plaisir</h6>
    <p>Nous vous attendions depuis longtemps</p>
    <em>oui, vous !</em>
    <strong>vous !</strong>
    <br>
   <div>
   <strong>&#8284;</strong>
   </div>
    
</body>

<head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>